{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Crear Evento</h2>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form method="POST" enctype="multipart/form-data" class="card p-4 shadow-sm">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label|safe }}  <!-- Etiqueta en negrita -->
                        {{ field }}  <!-- Campo del formulario -->
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary btn-block">Crear Evento</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
