{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary">Lista de Presentaciones de Producto</h2>
        <div>
            <a href="{% url 'productos:productosview' %}" class="btn btn-success btn-sm d-flex align-items-center">
                <i class="fas fa-box-open mr-2"></i> Ir a Productos
            </a>
            <a href="{% url 'productos:crear_presentacion_producto' %}" class="btn btn-primary btn-sm ml-2">
                <i class="fas fa-plus"></i> Crear Nueva Presentación
            </a>
        </div>
    </div>

    <!-- Tabla de presentaciones -->
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Presentación</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for presentacion in presentaciones %}
                <tr>
                    <td>{{ presentacion.nombre }}</td>
                    <td>{{ presentacion.presentacion }}</td>
                    <td>${{ presentacion.precio }}</td>
                    <td class="text-center">
                        <a href="{% url 'productos:editar_presentacion_producto' presentacion.pk %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a href="{% url 'productos:eliminar_presentacion_producto' presentacion.pk %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
