{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Productos e insumos</h2>
    
    <!-- Botón para añadir nuevo producto -->
    <div class="row mb-3">
        <!-- Columna para el primer botón (izquierda) -->
        <div class="col-6 text-left">
            <a href="{% url 'productos:productos_view' %}" class="btn btn-primary">Volver a Productos</a>
        </div>
    
        <!-- Columna para el segundo botón (derecha) -->
        <div class="col-6 text-right">
    <a href="{% url 'productos:crear_producto' %}" class="btn btn-success">Crear Producto</a>


        </div>
    </div>

    
    <!-- Tabla CRUD de Productos -->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Medidas</th>
                <th>Stock Botellas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.medidas }}</td>
                <td>{{ producto.stock_botellas }}</td>
                <td>
                    <a href="{% url 'productos:editar_producto' producto.pk %}" class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'productos:eliminar_producto' producto.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
